# Ignore everything by default
*

# Unignore all directories so we can traverse them
!**/

# Re-ignore specific directories
node_modules/
.next/
dist/
build/
coverage/
public/

# Unignore markdown files
!*.md
!*.mdx

